<!DOCTYPE html>
<html mxlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="utf-8" />
<title>Desafio MSI</title>
</head>
<body>                  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active" style="color:White"; >Cadastro de Usuários</li>
			 </ul>
		</div>
	</nav>         
<div class="container">

<br/>
<br/>
<div class="row col-md-12">
			<form name="formCadastro" class="form-row" id="formpessoa" action="salvarpessoa"
				method="post" th:object="${objpessoa}" onsubmit="return validarCampos()? true : false">
					<div class="row col-md-12">
						<div class="form-group col-md-4">
							<label for="idPessoa">Id</label> <input class="form-control"
								name="id" id="idpessoa" type="text" th:field="*{id}"
								readonly="readonly">
						</div>

						<div class="form-group col-md-4">
							<label for="PrimeiroNome">Nome</label> <input
								class="form-control" name="nome" id="Nome" type="text"
								th:field="*{nome}">
						</div>

						<div class="form-group col-md-4">
							<label for="sobrenome">Sobrenome</label> <input
								class="form-control" name="sobrenome" id="sobrenome" type="text"
								th:field="*{sobrenome}">
						</div>
					</div>

					<div class="row col-md-12">
						<div class="form-group col-md-6">
							<label for="dataNasc">Data Nascimento</label> <input
								class="form-control" name="dataNascimento" id="dataNasc"
								type="date" th:field="*{dataNascimento}">
						</div>

						<div class="form-group col-md-6">
							<label for="cpf">CPF</label> <input class="form-control"
								name="cpf" id="cpf" type="text" th:field="*{cpf}">
						</div>
					</div>

					<div class="row col-md-12">
						<div class="form-group col-md-6">
							<label for="email">Email</label> <input class="form-control"
								name="email" id="email" type="email" th:field="*{email}">
						</div>

						<div class="form-group col-md-6">
							<label>Sexo</label> <select class="form-control" id="sexo" name="sexo"
								th:field="*{sexo}">
								<option value="" selected>Escolha uma opção</option>
								<option value="Masculino">Masculino</option>
								<option value="Feminino">Feminino</option>
								<option value="Outros">Outros</option>
							</select>
						</div>
					</div>
					
					<div class="row col-md-12">
						<div class="form-group col-md-12">
							<input class="btn btn-success" type="submit" value="Salvar">
						</div>
					</div>
			</form>
							<button id="novo" class="btn btn-primary" onclick="document.getElementById('formpessoa').reset();">Novo</button>
		</div>	
	<br />
	<br />
	<div class="row col-md-12">
		<form action="pesquisarpessoa" method="post">
			<div class="row col-md-12">
				<div>
					<label>Pesquisa por Nome:</label> 
					<input class="form-control" name="nomepesquisa">
				</div>
			</div>
			<br/>
			<div class="col-md-12">
				<div class="row" >
					<input class="btn btn-outline-primary" type="submit" value="Buscar">
					<a class="btn btn-outline-warning" href="/listarpessoas">Listar Usuários</a>
				</div>
			</div>
		</form>
	</div>
	<br />
	<br />
	<div class="table-md">
		<table class="table col-md-12">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>NOME</th>
					<th>SOBRENOME</th>
					<th>DATA DE NASCIMENTO</th>
					<th>SEXO</th>
					<th>CPF</th>
					<th>EMAIL</th>
					<th>EDITAR</th>
					<th>EXCLUIR</th>
				</tr>
			</thead>
			<tr class="table-primary" th:each="pessoa : ${pessoas}">
				<td th:text="${pessoa.id}"></td>
				<td th:text="${pessoa.nome}"></td>
				<th th:text="${pessoa.sobrenome}"></th>
				<td th:text="${#dates.format(pessoa.dataNascimento, 'dd-MM-yyyy')}"></td>
				<td th:text="${pessoa.sexo}"></td>
				<td th:text="${pessoa.cpf}"></td>
				<td th:text="${pessoa.email}"></td>
				<td><a
					th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}" class="btn btn-primary"><i class="bi bi-pencil-fill"></i>Editar</a></td>
					
					
					
					
				<td><a
					th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}"
					class="btn btn-danger">Excluir</a></td>
			</tr>
		</table>
	</div>
</div>		  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript">
	function validarCampos() {
		nome = document.getElementById("Nome").value;
		sobrenome = document.getElementById("sobrenome").value;
		cpf = document.getElementById("cpf").value;
		sexo = document.getElementById("sexo").value;
		dataNasc = document.getElementById("dataNasc").value;
		email = document.getElementById("email").value;
		formpessoa = document.getElementById("${objpessoa}").value;
		 if (nome === "" || sobrenome == "" || cpf == "" || sexo == "" || dataNasc == "" || email == "" ) {
			alert("Por favor preencher todos os campos");
			return false;
		}
		return true; 
		
	}
	
</script>
</body>
</html>